<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Stack OS - The HTML5 Companion OS</title>
    <link rel="stylesheet" type="text/css" href="../../../../../System/Resource/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../../../System/Resource/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/install.css">
    <script type="text/javascript" src="../../../lib/jquery.1.7.2.min.js" ></script>
    <script type="text/javascript" src="scripts/install.js" ></script>

</head>
<body>
    <style>
        html{ overflow:hidden; }
        .p{ padding-left: 60px; }
    </style>
    <div id="holder" style="margin-top: 200px;">
        <div style="width: 230px; margin: auto;">
           <ul style="margin: auto;">
                <li><div id="logo"><img src="Images/logo.png" alt="Stack OS" /></div></li>
                <li><div id="user_data"><span class="p">Starting...</span></div></li>
            </ul>
        </div>

    </div>

</body>
</html>